h1 {
  text-align: left;
}

.container{
  margin-left: 160px;
}
.navbar-brand{
  padding-left: 160px;
}
iframe{
  width: 350px;
  height: 450px;
}
.section{
  margin-top: 50px;
}
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}

.sidenav a {
  padding: 20px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 35%;
  left: 55%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.slideshow-container {
  max-width: 1000px;
  padding-left:160px;
  position: relative;
  margin: auto;
}

.mySlides {

}

.slideshow-pics{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:50%;
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding-right: 160px;
  position: absolute;
  bottom:5%;
  width: 100%;
  text-align: center;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
